.form {
    display: flex;
}

.input {
    width: 200px;
    height: 50px;
    margin-top: 25px;
    padding: 0 40px;
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    outline: none;
    background-color: #3a3a3a;
    color: #fff;
}
