.message {
    display: flex;
    margin: 10px;
    color: #fff;
    word-break: break-all;
}

.author {
    height: max-content;
    margin: 0 2px 0 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #fff;
    word-break: keep-all;
}

.text {
    margin-left: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: #373737;
    color: #fff;
}

.author__bot {
    height: max-content;
    margin: 0 2px 0 2px;
    padding: 3px;
    border-radius: 5px;
    background-color: #dec700;
    color: #fff;
    word-break: keep-all;
}

.text__bot {
    margin-left: 5px;
    padding: 3px;
    border-radius: 5px;
    color: #f8ee59;
}
